/*****GENERAL*******/
.hidden {
  opacity: 0;
}
.rot45deg {
  transform: rotate(45deg);
  top: 10px !important;
}
.rot-45deg {
  transform: rotate(-45deg);
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
header {
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  width: 100%;
  background-color: #434344;
  overflow: hidden;
}
p {
  font-weight: 300;
}
main {
  position: relative;
  /* text-aling: center; */
  z-index: 4;
  overflow-x: hidden;
}
body ul li {
  list-style-type: none;
}
table {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1pt solid black;
}
.basic-block {
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding: 60px 20px 30px 20px;
}
.basic-block > div {
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  .basic-block {
    padding: 20px 5px;
  }
}
/******header*****/
.header-panel {
  position: fixed;
  z-index: 4;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 30px;
  padding-right: 0px;
  font-size: 20px;
  color: white;
}
.header-panel > div {
  position: absolute;
  z-index: 3;
}
.header-panel-bg {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 1 !important;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease-out;
}
.header-slider {
  width: 100%;
  z-index: 1;
}
.header-text {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease-out;
}
.header-phone > .header-text {
  padding-top: 9px;
  width: 200px;
  font-size: 14px;
}
@media screen and (min-width: 1100px) {
  .header-phone {
    left: 320px;
  }
}
@media screen and (max-width: 1100px) {
  .header-phone {
    left: 260px;
  }
}
@media screen and (max-width: 500px) {
  .header-phone {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .header-logo > a > img {
    height: 80px;
    width: 250px;
  }
}
@media screen and (max-width: 1100px) {
  .header-logo > a > img {
    height: 100px;
    width: 200px;
  }
}
.header-nav {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2 !important;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.header-nav > div {
  margin-right: 20px;
}
.header-nav > div > a:hover {
  cursor: pointer;
  color: #5472e3 !important;
}
.slider {
  margin-bottom: 0 !important;
  height: 100%;
  max-height: calc(var(--vh, 1vh) * 100);
}
.slider > .slider-arrow {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
@media screen and (max-width: 1100px) {
  .slider > .slider-arrow {
    opacity: 1;
  }
}
.slider:hover > .slider-arrow {
  opacity: 1;
}
.triangles {
  z-index: 1 !important;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><path d='M0 100 V 90 L 10 100 Z' fill='%23212529' fill-opacity='0.03'></path><path d='M0 90 V 80 L 10 90 Z' fill='%23212529' fill-opacity='0.045'></path><path d='M10 100 V 90 L 20 100 Z' fill='%23212529' fill-opacity='0.025'></path><path d='M0 90 H 10 V 100 Z' fill='%23212529' fill-opacity='0.06'></path></svg>");
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% auto;
  box-sizing: border-box;
}
.bb-white {
  position: relative;
  background: #f5f5f5;
}
.bb-white .triangles-left {
  transform: scaleY(-1);
}
.bb-white .triangles-right {
  transform: scaleX(-1);
}
.bb-white .p400 {
  color: #343a40;
  max-width: 400px;
}
@media (max-width: 940px) {
  .bb-white .p400 {
    font-size: 14px;
    padding: 10px 20px;
  }
}
.bb-black {
  position: relative;
  background: #343a40;
}
.bb-black .triangles-left {
  transform: scaleY(-1);
  filter: invert(100%);
}
.bb-black .triangles-right {
  transform: scaleX(-1);
  filter: invert(100%);
}
.bb-black .p400 {
  color: #f5f5f5;
  max-width: 400px;
  margin-top: 20px;
  padding: 10px 20px;
}
@media (max-width: 940px) {
  .bb-black .p400 {
    font-size: 14px;
  }
}
.bb-black h1 {
  color: #f5f5f5;
}
@media (min-width: 1200px) {
  .bb-black {
    padding-bottom: 10px;
  }
}
.separator {
  display: block;
  height: 2px;
  margin: 0 100px 50px 100px;
  left: 50%;
  transform: translateX(-100%);
  width: 200px;
  background-color: #893074;
}
@media (min-width: 1200px) {
  .sep-hor {
    display: inline-block;
    position: absolute;
    left: 0;
    transform: none;
    top: 190px;
    margin: 0 30px;
    width: 2px;
    height: 200px;
  }
}
.sep-hor-light {
  display: block;
  height: 2px;
  margin: 10px 100px 10px 100px;
  width: 200px;
  background-color: #5472e3;
}
.sep-hor-dark {
  display: block;
  height: 2px;
  margin: 10px 100px 10px 100px;
  width: 200px;
  background-color: #893074;
}
@media (min-width: 600px) {
  .sep-hor-dark {
    display: inline-block;
    left: 0;
    transform: none;
    margin: 0 30px;
    width: 2px;
    height: 200px;
  }
}
@media (min-width: 600px) {
  .sep-hor-light {
    display: inline-block;
    left: 0;
    transform: none;
    margin: 0 30px;
    width: 2px;
    height: 200px;
  }
}
.about-text {
  position: relative;
  z-index: 2;
  display: inline-block;
}
@media (max-width: 405px) {
  .about-text h1 {
    font-size: 24px;
  }
}
.about-text-center {
  width: 750px;
}
.about-list {
  display: inline-block;
  text-align: left;
  list-style: none;
  padding-left: 20px;
}
.about-list > li {
  font-weight: 300;
}
.about-list > li::before {
  content: "●";
  color: #5472e3;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.contact-form {
  display: inline-block;
  position: relative;
  z-index: 10;
  vertical-align: top;
}
@media (max-width: 600px) {
  .contact-form {
    width: 100%;
  }
}
@media (max-width: 350px) {
  .contact-form {
    height: 900px;
  }
}
.contact-map {
  display: inline-block;
  position: relative;
  z-index: 10;
  vertical-align: top;
}
@media (max-width: 600px) {
  .contact-map {
    width: 98%;
  }
}
.contact-map > p {
  color: white;
}
.slide {
  max-height: calc(var(--vh, 1vh) * 100);
  position: relative;
}
.slideBg {
  position: relative;
  z-index: 1;
  top: 0;
  width: 100%;
  object-fit: contain;
  background-color: black;
}
.slide-content {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  width: 60%;
  z-index: 3;
  text-align: center;
}
.slide-content > h1 {
  font-size: 40px;
  color: white;
}
@media (max-width: 600px){
  .slide-content > h1 {
    font-size: 20px;
    
  }
}
.slide-content > p {
  color: rgba(255, 255, 255, 0.7);
}
@media (max-width: 600px){
    .slide-content {
      padding-bottom: 15px;
  } 
} 
.slider-button {
  border: 2px solid #5472e3;
  padding: 10px;
  background: none;
  color: white;
  font-weight: 700;
}
.slider-button:hover {
  cursor: pointer;
}
.black-panel {
  position: absolute;
  top: 0;
  pointer-events: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.2;
}
.training-gradient {
  position: absolute;
  top: 0;
  pointer-events: none;
  z-index: 2;
  width: 100%;
  height: 120px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55) 30%, rgba(0, 0, 0, 0));
}
.trLink {
  z-index: 5;
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  text-align: center;
}
.trLink > h1 > a {
  color: white;
  font-weight: 700;
  text-decoration: none;
  font-size: 48px;
}
.trLink > p {
  font-size: 20px;
  color: white;
  opacity: 0.7;
  font-weight: 300;
}
.copyright {
  position: absolute;
  left: 50%;
  top: 35px;
  transform: translateX(-50%);
  text-align: center;
}
@media (max-width: 740px) {
  .copyright {
    left: 20px;
    transform: translateX(0);
  }
}
@media (max-width: 480px) {
  .copyright {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.footer-contact {
  position: absolute;
  right: 20px;
  top: 10px;
  text-align: right;
}
@media (max-width: 480px) {
  .footer-contact {
    width: 100%;
    top: 80px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }
}
.footer-text {
  color: #ffffff;
}
@media (max-width: 740px) {
  .footer-text {
    font-size: 14px;
  }
}
footer {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 85px;
  background-color: #23292f;
}
@media (max-width: 480px) {
  footer {
    height: 180px;
  }
}
.nav {
  display: inline-block;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 10;
  clear: both;
}
.dropbtn {
  border: none;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  min-width: 150px;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 25px;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  text-align: right;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover > p {
  color: #5472e3 !important;
}
.dropdown-content > a > p {
  font-weight: 400;
  display: inline-block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  color: #5472e3 !important;
}
ul#menu {
  position: absolute;
  z-index: 5;
  display: none;
  margin: 60px 0 0 0;
  width: 240px;
  right: 0px;
}
ul.hamburger {
  display: block;
}
ul.hamburger li {
  height: 5px;
  background: #000;
  content: "";
  position: relative;
  transition: 0.5s ease-out;
}
ul.hamburger li:nth-child(1) {
  top: 0;
}
ul.hamburger li:nth-child(2) {
  top: 5px;
}
ul.hamburger li:nth-child(3) {
  top: 10px;
}
.menu-link {
  width: 200px;
  display: inline-block;
  box-sizing: content-box;
  transition: background 0.2s;
  text-decoration: none;
}
.menu-link > p {
  margin: 15px 16px;
  text-decoration: none;
}
.hoverable:hover {
  color: #5472e3 !important;
}
.dropdown-content {
  display: block;
  margin: 15px 0 0 0;
}
@media screen and (min-width: 1100px) {
  .dropdown-content {
    position: absolute;
    left: -15px;
    top: 15px;
    margin: 25px 16px 0 0;
    display: none;
  }
  .dropdown-content > a {
    padding: 12px 15px 12px 25px;
  }
  .hamburger-container {
    display: none;
  }
  .nav ul#menu {
    margin-right: 20px;
    display: inline;
    text-align: left;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  .nav ul#menu li {
    display: inline-block;
    margin-right: -5px;
  }
  .menu-link {
    margin-top: 10px;
    width: auto;
  }
}
.hamburger-container {
  position: relative;
  z-index: 2;
  width: 38px;
  margin: 17px 20px;
  height: 30px;
  cursor: pointer;
  float: right;
}
/*********************TRAINING BLOCK***************************/
#training {
  z-index: 6;
}
.openList {
  margin: 20px 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
@media (max-width: 686px) {
  .toolarge {
    display: none;
  }
}
.text-dark {
  color: #777777;
}
.text-light {
  color: white;
}
.aandopen-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  height: 50px;
  padding: 5px 0;
  width: 100%;
  background-color: #e8e8e8;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 30px;
  color: #171717;
}
@media (max-width: 940px) {
  .aandopen-light {
    font-size: 26px;
    height: 42px;
  }
}
@media (max-width: 680px) {
  .aandopen-light {
    font-size: 16px;
    height: 32px;
  }
}
.aandopen-dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  height: 50px;
  padding: 5px 0;
  width: 100%;
  background-color: #292d32;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 30px;
  color: #d6d2cd;
}
@media (max-width: 940px) {
  .aandopen-dark {
    font-size: 26px;
    height: 42px;
  }
}
@media (max-width: 680px) {
  .aandopen-dark {
    font-size: 16px;
    height: 32px;
  }
}
.training-light {
  text-align: center;
  background-color: #f5f5f5;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
}
.training-light > div {
  width: 880px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  color: #777777;
}
@media (max-width: 940px) {
  .training-light > div {
    font-size: 14px;
    width: 90%;
  }
}
.training-light table {
  width: 880px;
  background-color: #343a40;
  border-radius: 10px;
  color: white;
  border-spacing: 0;
  text-align: center;
  font-weight: 300;
  overflow: hidden;
  margin: 10px 0;
}
@media (max-width: 940px) {
  .training-light table {
    font-size: 14px;
    width: 90%;
    margin: 0 30px;
  }
}
@media (max-width: 760px) {
  .training-light table {
    font-size: 12px;
    width: 90%;
    margin: 0 30px;
  }
}
@media (min-width: 686px) {
  .training-light table .altertable {
    display: none;
  }
}
.training-light table th {
  padding: 10px 5px;
  text-align: center;
}
.training-light table td {
  padding: 10px 10px;
}
.training-light table td:nth-child(2) {
  text-align: left;
}
.training-light table td:nth-child(1) {
  text-align: left;
}
.training-light table td:last-child {
  min-width: 100px;
}
.training-light table tr:nth-child(2n) {
  background: #777777;
}
.training-light table .liketh {
  background: #777777;
}
.training-light .p300 {
  width: 220px;
  padding: 10px;
}
.training-light .nolimit {
  width: auto;
  text-align: center;
}
.training-light .nolimit div {
  width: auto;
}
.training-dark {
  text-align: center;
  background-color: #343a40;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5) inset;
}
.training-dark > div {
  width: 880px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
@media (max-width: 940px) {
  .training-dark > div {
    font-size: 14px;
    width: 90%;
  }
}
.training-dark table {
  width: 880px;
  background-color: #f5f5f5;
  border-radius: 10px;
  color: black;
  border-spacing: 0;
  text-align: center;
  font-weight: 300;
  overflow: hidden;
  margin: 10px 0;
}
@media (max-width: 940px) {
  .training-dark table {
    font-size: 14px;
    width: 90%;
    margin: 0 30px;
  }
}
@media (max-width: 760px) {
  .training-dark table {
    font-size: 12px;
    width: 90%;
    margin: 0 30px;
  }
}
@media (min-width: 686px) {
  .training-dark table .altertable {
    display: none;
  }
}
.training-dark table tr:nth-child(2n) {
  color: white;
}
.training-dark table th {
  padding: 10px 5px;
  text-align: center;
}
.training-dark table td {
  padding: 10px 10px;
}
.training-dark table td:nth-child(2) {
  text-align: left;
}
.training-dark table td:nth-child(1) {
  text-align: left;
}
.training-dark table td:last-child {
  min-width: 100px;
}
.training-dark table tr:nth-child(2n) {
  background: #777777;
}
.training-dark table .liketh {
  background: #777777;
}
.training-dark .p300 {
  width: 220px;
  padding: 10px;
}
.training-dark .nolimit {
  width: auto;
  text-align: center;
}
.training-dark .nolimit div {
  width: auto;
}
.training-info {
  padding: 20px 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.training-info p {
  padding: 10px 10px;
  width: 600px;
}
@media (max-width: 600px) {
  .training-info {
    flex-direction: column;
  }
  .training-info > p {
    width: 100%;
  }
}
.flex {
  display: flex;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 940px) {
  .flex {
    padding: 40px 0;
  }
}
@media (max-width: 686px) {
  .flex {
    flex-direction: column;
  }
}
.flex p {
  padding: 20px 20px;
}
.flex img {
  width: 450px;
  height: 300px;
}
@media (max-width: 940px) {
  .flex img {
    width: 338px;
    height: 225px;
  }
}
@media (max-width: 686px) {
  .flex img {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 490px) {
  .flex img {
    width: 100%;
    height: auto;
  }
}
.flex img.layout {
  width: auto;
  height: auto;
}
@media (max-width: 940px) {
  .flex img.layout {
    width: 100%;
  }
}
.flex div p {
  padding: 4px 20px;
}
.flexcol {
  flex-direction: column;
  align-items: center;
}
.sponsors .flex {
  padding: 0 10px;
  margin: 0;
  justify-content: space-around;
}
.sponsors .flex div {
  text-align: center;
}
@media (max-width: 940px) {
  .sponsors .flex div {
    width: 30%;
  }
}
.almost-basic-block {
  padding: 0;
}
.pictures {
  margin-top: -145px;
}
@media (max-width: 1240px) {
  .pictures {
    margin-top: -95px;
  }
}
.pictures img {
  width: 300px;
  height: 250px;
  border-radius: 20px;
  z-index: 2;
  position: relative;
}
@media (max-width: 1240px) {
  .pictures img {
    width: 250px;
    height: 150px;
  }
}
@media (max-width: 940px) {
  .pictures .first {
    width: 250px;
    height: 150px;
    margin: 0 20px;
  }
}
@media (max-width: 645px) {
  .pictures .first {
    display: none;
  }
}
.pictures .second {
  margin: -145px -40px -25px -40px;
  z-index: 3;
  width: 450px;
  height: 300px;
}
@media (max-width: 1240px) {
  .pictures .second {
    width: 350px;
    height: 200px;
  }
}
@media (max-width: 940px) {
  .pictures .second {
    width: 250px;
    height: 150px;
    margin: 0 20px;
  }
}
@media (max-width: 645px) {
  .pictures .second {
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0;
  }
}
@media (max-width: 940px) {
  .pictures .third {
    display: none;
  }
}
@media (min-width: 686px) {
  .altertable {
    display: none;
  }
}
.p400 {
  max-width: 400px;
  box-sizing: border-box;
}
.p400-left {
  text-align: left;
}
@media (max-width: 686px) {
  .p400-left {
    text-align: center;
  }
}
.p400-leftsuper {
  text-align: left;
}
.p400-right {
  text-align: right;
}
@media (max-width: 686px) {
  .p400-right {
    text-align: center;
  }
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}
.slick-arrow {
  z-index: 3;
}
.down-arrow {
  position: absolute;
  z-index: 4;
  font-size: 60px;
  bottom: 0px;
  opacity: 0.5;
  left: 50%;
  transform: translateX(-50%);
}
.down-arrow > a {
  color: white;
}
.down-arrow:hover {
  opacity: 0.75;
  text-shadow: 0 0 15px #ffffff;
}
.slick-dots {
  z-index: 3;
  bottom: 55px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
}
.slick-dots li {
  margin: 0 0.25rem;
  padding: 10px 0;
  width: auto;
  height: auto;
}
.slick-dots button {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: block;
  box-sizing: border-box;
  width: 30px !important;
  height: 5px !important;
  padding: 0 !important;
  margin: 5 px;
  border: none;
  background-color: rgba(255, 255, 255, 0.25) !important;
  text-indent: -9999px;
  transition: opacity 0.5s ease-out;
}
@media screen and (min-width: 600px) {
  .slick-dots button {
    width: 100px !important;
  }
}
@media screen and (max-width: 600px) {
  .slick-dots {
    bottom: 15px;
  }
}
.slick-dots button::before {
  content: none !important;
}
.slick-dots li.slick-active button {
  background-color: rgba(255, 255, 255, 0.75) !important;
}
.slider-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.slider-arrow:hover {
  cursor: pointer;
}
.slider-arrow > div {
  color: white;
  padding-top: 15px;
  font-size: 40px;
  height: 70px;
  width: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.slider-arrow > div > i {
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
}
.slider-arrow > div:hover > i {
  opacity: 1;
}
.arrow-prev {
  left: 5%;
}
@media screen and (max-width: 1100px) {
  .arrow-prev {
    left: 10px;
  }
}
@media screen and (max-width: 600px) {
  .arrow-prev {
    left: 0px;
  }
}
.arrow-next {
  right: 5%;
}
@media screen and (max-width: 1100px) {
  .arrow-next {
    right: 10px;
  }
}
@media screen and (max-width: 600px) {
  .arrow-next {
    right: 0px;
  }
}
.p750 {
  max-width: 750px;
}
.training-slider > div > div > div > img {
  height: 100%;
  width: 100%;
}
.training-slider-header {
  position: absolute;
  z-index: 5;
  color: white;
  bottom: 140px;
  left: 50%;
  transform: translate(-50%, 0);
  text-shadow: 0 0 15px black;
  width: 70%;
}
@media (max-width: 600px) {
  .training-slider-header {
    font-size: 30px;
    bottom: 100px;
  }
}
.slider-parent {
  position: relative;
  text-align: center;
}
.slider-parent > a {
  position: absolute;
  top: -60px;
}
.whiteBg {
  background-color: white;
}

.print-under-fa {
  font-size: larger;
  color:rgba(0, 0, 0, 0.7);
  padding-top: 10px;
  padding-bottom: 40px;
  font-weight: bold;
}

.advantages-table {
  width:100%;
  border-bottom: rgb(141, 126, 126);
  border: 1;
  margin-bottom: 0;
}

@media screen and (max-width: 900px) {
  .advantages-table {
    font-size: 14px;
  }
}

.advantages-table td {
  padding-bottom: 30px;
}

.contacts{
  color: #f5f5f5;
}

.contacts-table {
  width:100%;
  border-bottom: rgb(141, 126, 126);
  border: 1;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contacts-table td {
  padding-bottom: 30px;
}

.print-under-example {
  font-size: larger;
  color: #f5f5f5;
  padding-top: 10px;
  padding-bottom: 40px;
  font-weight: bold;
  text-align: center;
  width: 314px;
}

.example-img {
  border: 7px inset #893074;
  width: 300px;
  height: 300px;
  cursor: pointer;
}

.example-img:hover {
  opacity: 0.7;
}

.object-img {
  border: 4px inset #893074;
  width: 70%;
  height: 70%;
  cursor: pointer;
}

.object-img:hover {
  opacity: 0.7;
}

.examples-table {
  width: 90%;
  background-color: #343a40;
  border-radius: 10px;
  color: white;
  border-spacing: 0;
  text-align: center;
  font-weight: 300;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.examples-table tr {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.examples-table td {
  padding: 10px 20px;
  width: 25%;
  margin-left: auto;
  margin-right: auto
}

@media screen and (max-width: 1100px) {
  .examples-table td {
    font-size: 14px;
    width: 25%;
  }
  .example-img {
    width: 200px;
    height: 200px;
    border: 5px inset #893074;
  }
  .print-under-example {
    width: 210px;
  }
}
@media screen and (max-width: 800px) {
  .examples-table td {
    font-size: 12px;
    width: 40%;
  } 
  .example-img {
    width: 150px;
    height: 150px;
    border: 4px inset #893074;
  }
  .print-under-example {
    width: 158px;
  }
}
.examples-slide {
  padding: 50px;
}
@media screen and (max-width: 600px) {
  .examples-slide {
    padding: 0;
  }
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.modal-content-object {
  margin: auto;
  display: block;
  width: 80%;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 10%;
  right: 5%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
      padding-top: 25%;
  }
  .modal-content-object {
    width: 100%;
    padding-top: 25%;
  }
}

.input-box {
  height: 40px;
  width: 100%;
  margin-bottom: 30px;
}

.input-box input,
.input-box textarea {
  height: 100%;
  width: 80%;
  border: none;
  border-radius: 5px;
  background: #f5f5f5;
  padding: 0 20px;
  margin-bottom: 2px;
}

.input-box label {
  font-size: 14px;
  color: #f5f5f5;
  padding-left: 5px;
}

.input-box textarea {
  resize: none;
  padding: 20px;
}

.message-box {
  min-height: 70px;
  margin-bottom: 50px;
}

.button-form {
  display: inline-block;
}

.button-form input[type="submit"] {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: #893074;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  transition: 0.2s;
}

.button-form input[type="submit"]:hover {
  background: #893074;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
  width: 100%;
  align-content: space-between;
}

.mobile-footer {
  height: 600px;
  padding-top: 30px;
}

@media only screen and (max-width: 1100px){
  .mobile-footer {
    height: 1000px;
  }
}